<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns="http://www.w3.org/ns/widgets" 
    xmlns:android   ="http://ns.phonegap.com/android" 
    id              ="http://phonegap.com/example" 
    version         ="0.0.1">
    
    <!-- app settings -->    
    <name short="Example App">Example PhoneGap Application</name>
    <description>An example widget that demonstrates the PhoneGap API.</description>
    <icon src="icon.png"/>
    <content src="index.html"/>
    
    <!-- this is where phonegap.js is copied / goes into root by default-->
    <preference name="javascript_folder" value="js" /> 
    
    <!-- android specific settings -->
    <android:versionCode>3</android:versionCode>
    <android:minSdkVersion>1</android:minSdkVersion>
    
    <!-- 
    TODO: use feature element to turn on/off device capabilities
    <feature name="http://example.com/camera"><param name="autofocus" value="true"/></feature>
    <preference name="apikey" value="ea31ad3a23fd2f" readonly="true" />

    TODO: use below for ship command
    <author href ="http://foo-bar.example.org/" email="foo-bar@example.org">Foo Bar Corp</author>
    <license>
Example license (based on MIT License)
Copyright (c) 2010 The Foo Bar Corp.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
INSULT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
    </license>
    -->
</widget>